<div class="container interesse-an-promotion">
    <div class="row">
        <div class="col-lg-12">
            <span>Interesse an einer Promotion?</span>
            <p>
                Wir suchen engagierte wissenschaftliche Mitarbeiterinnen und
                Mitarbeiter mit Interesse an einer Promotion im Software Engineering.
            </p>
            <p>
                Sie könnten an einer der renommiertesten deutschen Universitäten im
                Bereich Informatik forschen!
            </p>
            <p>
                <a href="https://www.se-rwth.de/jobs/">Hier</a> gibt es Details.
            </p>
            <p>
                Oder melden Sie sich bei Bernhard Rumpe, rumpe@se-rwth.de. Eine
                aussagekräftige Bewerbungsunterlage ist dabei hilfreich.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <span>Interessed in a Ph.D. thesis / Doctorate?</span>
            <p>
                You can elaborate your knowlede at one of the most renowned German
                universities in the field of Computer Science!
            </p>
            <p>
                We are looking for dedicated academics
                interested in a doctorate in software engineering
                and especially the enhancement and application of
                modelling techniques in engineering and science.
            </p>
            <p>
                <a href="https://www.se-rwth.de/jobs/">Here</a> are details.
            </p>
            <p>
                Or contact Bernhard Rumpe, rumpe@se-rwth.de.
                Meaningful application documents are helpful.
            </p>
        </div>
    </div>
</div>