<div class="container block-main">
    <div class="row" style="text-align: center; margin: 0 0 40px 0;">
        <div class="col">
            <a href="/jobs/">
                <img src="assets/img/block-1.png">
                <span class="span-block-main">MontiGem</span>
            </a>
        </div>
        <div class="col">
            <a href="/jobs/">
                <img src="assets/img/block-2.png">
                <span class="span-block-main" style="background: #0067a6">Digitalisation</span>
            </a>
        </div>
        <div class="col">
            <a href="/jobs/">
                <img src="assets/img/block-3.png">
                <span class="span-block-main">Automotive</span>
            </a>
        </div>
        <div class="col">
            <a href="/jobs/">
                <img src="assets/img/block-4.png">
                <span class="span-block-main" style="background: #0067a6">Digital Twin</span>
            </a>
        </div>
        <div class="col">
            <a href="https://monticore.github.io/">
                <img src="assets/img/block-5.png">
                <span class="span-block-main">MontiCore</span>
            </a>
        </div>
    </div>
</div>
