<div class="container main-some-books">
    <div class="row" style="text-align: center; margin: 0 0 40px 0;">
        <div class="col-lg-2">
            <a href="https://monticore.de/download/handbook.pdf/">
                <img src="assets/img/main-page-book-1.png">
            </a>
        </div>
        <div class="col-lg-2">
            <a href="https://www.se-rwth.de/publications/Model-Based-Engineering-of-Collaborative-Embedded-Systems.pdf">
                <img src="assets/img/main-page-book-2.jpeg">
            </a>
        </div>
        <div class="col-lg-2">
            <a href="https://www.se-rwth.de/publications/Ernst-Denert-Award-for-Software-Engineering-2019.pdf">
                <img src="assets/img/main-page-book-3.jpeg">
            </a>
        </div>
        <div class="col-lg-2">
            <a href="https://mbse.se-rwth.de/">
                <img src="assets/img/main-page-book-4.jpeg">
            </a>
        </div>
        <div class="col-lg-2">
            <a href="https://mbse.se-rwth.de/">
                <img src="assets/img/main-page-book-6.jpeg">
            </a>
        </div>
        <div class="col-lg-2">
            <a href="#">
                <img src="assets/img/main-page-book-5.jpeg">
            </a>
        </div>
    </div>
</div>