<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Nico.Jansen"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/jansen.jpeg" alt="Jansen"></a>
            <span class="span-text-team-pics">Nico Jansen, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Judith.Michael"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/michael.jpeg" alt="Michael"></a>
            <span class="span-text-team-pics">Judith Michael, Dr.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Imke.Nachmann"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/nachmann.png" alt="Nachmann"></a>
            <span class="span-text-team-pics">Imke Nachmann, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Christian.Kirchhof"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/kirchhof.jpeg" alt="Kirchhof"></a>
            <span class="span-text-team-pics">Jörg Christian Kirchhof, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/David.Schmalzing"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/schmalzing.jpeg" alt="Schmalzing"></a>
            <span class="span-text-team-pics">David Schmalzing, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Louis.Wachtmeister"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/wachtmeister.jpeg" alt="Wachtmeister"></a>
            <span class="span-text-team-pics">Louis Wachtmeister, M.Sc.</span>
        </div>
    </div>
</div>