<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Christian.Kirchhof"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/kirchhof.jpeg" alt="Kirchhof"></a>
            <span class="span-text-team-pics">Christian Kirchhof, M.Sc. RWTH</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Evgeny.Kusmenko"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/kusmenko.jpeg" alt="Kusmenko"></a>
            <span class="span-text-team-pics">Evgeny Kusmenko, M.Sc. (team leader)</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Imke.Nachmann"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/nachmann.png" alt="Nachmann"></a>
            <span class="span-text-team-pics">Imke Nachmann, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Louis.Wachtmeister"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/wachtmeister.jpeg" alt="Wachtmeister"></a>
            <span class="span-text-team-pics">Louis Wachtmeister, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Matthias.Markthaler"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/markthaler.jpeg" alt="Markthaler"></a>
            <span class="span-text-team-pics">Matthias Markthaler, M.Sc.</span>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Vincent.Bertram"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/bertram.jpeg" alt="Bertram"></a>
            <span class="span-text-team-pics">Vincent Bertram, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Jonas.Ritz"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/ritz.jpeg" alt="Ritz"></a>
            <span class="span-text-team-pics">Jonas Ritz, M.Sc.</span>
        </div>
    </div>
</div>