<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Nico.Jansen"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/jansen.jpeg" alt="Jansen"></a>
            <span class="span-text-team-pics">Nico Jansen, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Marita.Breuer"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/anonymous.jpeg" alt="Breuer"></a>
            <span class="span-text-team-pics">Marita Breuer</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/gupta.jpeg" alt="Gupta">
            <span class="span-text-team-pics">Rohit Gupta, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Arvid.Butting"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/butting.jpeg" alt="Butting"></a>
            <span class="span-text-team-pics">Arvid Butting, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Joel.Charles"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/anonymous.jpeg" alt="Charles"></a>
            <span class="span-text-team-pics">Joel Charles, M.Sc.</span>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Max.Stachon"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/stachon.jpeg" alt="Stachon"></a>
            <span class="span-text-team-pics">Max Stachon, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/anonymous.jpeg" alt="Trageser">
            <span class="span-text-team-pics">Johannes Trageser, M. Eng.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Steffi.Schrader"><img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/schrader.jpeg" alt="Schrader"></a>
            <span class="span-text-team-pics">Steffi Schrader, M.A.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <img class="staff-pics team-pics-design z-depth-1" src="../../assets/img/teams/anonymous.jpeg" alt="Stüber">
            <span class="span-text-team-pics">Sebastian Stüber, M.Sc.</span>
        </div>
    </div>
</div>