<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Judith.Michael">
                <img class="staff-pics team-pics-design z-depth-1"
                     src="../../assets/img/teams/michael.jpeg"
                     alt="Michael">
            </a>
            <span class="span-text-team-pics">Judith Michael, Dr.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Arvid.Butting">
                <img class="staff-pics team-pics-design z-depth-1"
                     src="../../assets/img/teams/butting.jpeg"
                     alt="Butting">
            </a>
            <span class="span-text-team-pics">Arvid Butting, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Arkadii.Gerasimov">
                <img class="staff-pics team-pics-design z-depth-1"
                     src="../../assets/img/teams/anonymous.jpeg"
                     alt="Gerasimov">
            </a>
            <span class="span-text-team-pics">Arkadii Gerasimov, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Malte.Heithoff">
                <img class="staff-pics team-pics-design z-depth-1"
                     src="../../assets/img/teams/anonymous.jpeg"
                     alt="Heithoff">
            </a>
            <span class="span-text-team-pics">Malte Heithoff, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Steffen.Hillemacher">
                <img class="staff-pics team-pics-design z-depth-1"
                     src="../../assets/img/teams/hillemacher.jpeg"
                     alt="Hillemacher">
            </a>
            <span class="span-text-team-pics">Steffen Hillemacher, M.Sc.</span>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Lukas.Netz">
                <img class="staff-pics team-pics-design z-depth-1"
                     src="../../assets/img/teams/netz.jpeg"
                     alt="Netz">
            </a>
            <span class="span-text-team-pics">Lukas Netz, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Sebastian.Stueber">
                <img class="staff-pics team-pics-design z-depth-1"
                     src="../../assets/img/teams/anonymous.jpeg"
                     alt="Stueber">
            </a>
            <span class="span-text-team-pics">Sebastian Stueber, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <a href="../staff/Simon.Varga">
                <img class="staff-pics team-pics-design z-depth-1"
                     src="../../assets/img/teams/varga.jpeg"
                     alt="Varga">
            </a>
            <span class="span-text-team-pics">Simon Varga, M.Sc.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <img class="staff-pics team-pics-design z-depth-1"
                 src="../../assets/img/teams/volkova.png"
                 alt="Volkova">
            <span class="span-text-team-pics">Galina Volkova, Dipl.-Math.</span>
        </div>
        <div class="col-lg-2 col-md-6">
            <img class="staff-pics team-pics-design z-depth-1"  src="../../assets/img/teams/anonymous.jpeg" alt="Kirhan">
            <span class="span-text-team-pics">Cihad Kirhan</span>
        </div>
    </div>
</div>
