---
---

<div class="row">
  <div id="{{entry.key}}" class="col-sm-10">
    <!-- Entry bib key -->
    [{{entry.key}}]
    <!-- Author -->
    <div class="author" style="display: inline">
      {% for author in entry.author_array %}
        {% if forloop.length == 1 %}
            {{author.first | slice:0}}. {{author.last}}:
        {% else %}
          {% unless forloop.last %}
            {{author.first| slice:0}}. {{author.last}},
          {% else %}
            {{author.first| slice:0}}. {{author.last}}:
          {% endunless %}
        {% endif %}
      {% endfor %}

      {% unless entry.author %}
        {% for editor in entry.editor_array %}
            {% unless forloop.last %}
                  {{editor.first| slice:0}}. {{editor.last}},
            {% else %}
                  {{editor.first| slice:0}}. {{editor.last}} (Eds.):
            {% endunless %}
        {% endfor %}
      {% endunless %}
    </div>

    <!-- Title -->
    <div class="title"><a href="{{entry.url}}">{{entry.title}}</a>.</div>
    
    <div class="periodical" style="display: inline">
      In:
        {% if entry.author and entry.editor %}
          {% for editor in entry.editor_array %}
              {% unless forloop.last %}
                    {{editor.first| slice:0}}. {{editor.last}},
              {% else %}
                    {{editor.first| slice:0}}. {{editor.last}} (Eds.):
              {% endunless %}
          {% endfor %}
        {% endif %}

      {% if entry.journal %}
        {{entry.journal}},
      {% endif %}

      {% if entry.booktitle %}
        {{entry.booktitle}},
      {% endif %}

      {% if entry.institution %}
        {{entry.institution}},
        {% if entry.number %}
          {{entry.number}},
        {% endif %}
      {% endif %}

      {% if entry.volume %}
        Volume {{entry.volume}}{% if entry.number %}({{entry.number}}){% endif %},
      {% endif %}
      {% if entry.chapter %}
        ch. {{entry.chapter}},
      {% endif %}
      {% if entry.pages %}
        pp. {{entry.pages}},
      {% endif %}
      {% if entry.series %}
        {{entry.series}},
      {% endif %}
      {% if entry.isbn %}
        ISBN {{entry.isbn}},
      {% endif %}
      {% if entry.publisher %}
        {{entry.publisher}},
      {% endif %}
      {% if entry.address %}
        {{entry.address}},
      {% endif %}
      {% if entry.month %}
        {{entry.month | capitalize }}{% unless entry.month == "may" %}.{% endunless %}
      {% endif %}
      {% if entry.year %}
        {{entry.year}}.
      {% endif %}
    </div>

  </div>
</div>
