---
---

<div class="row">
  <div id="{{entry.key}}" class="col-sm-11">
    <!-- Entry bib key -->
    [{{entry.key}}]
    <!-- Author -->
    <div class="author" style="display: inline">
      {% for author in entry.author_array %}
        {% assign firstnames = author.first | split: " " %}
        {% for firstname in firstnames %}
          {% assign nameparts = firstname | split: "-" %}
          {% for namepart in nameparts %}
            {% unless forloop.last%}
              {{namepart | slice:0}}.-
            {% else %}
              {{namepart | slice:0}}.
            {% endunless %}
          {% endfor %}
        {% endfor %}
        {% unless forloop.last %}
          {{author.prefix}} {{author.last}},
        {% else %}
          {{author.prefix}} {{author.last}}:
        {% endunless %}
      {% endfor %}

      {% unless entry.author %}
        {% for editor in entry.editor_array %}
          {% assign firstnames = editor.first | split: " " %}
          {% for firstname in firstnames %}
            {% assign nameparts = firstname | split: "-" %}
            {% for namepart in nameparts %}
              {% unless forloop.last%}
                {{namepart | slice:0}}.-
              {% else %}
                {{namepart | slice:0}}.
              {% endunless %}
            {% endfor %}
          {% endfor %}
          {% unless forloop.last %}
            {{editor.prefix}} {{editor.last}},
          {% else %}
            {{editor.prefix}} {{editor.last}} (Eds.):
          {% endunless %}
        {% endfor %}
      {% endunless %}
    </div>

    <!-- Title -->
    <div class="title"><a href="{{entry.url}}">{{entry.title}}</a>.</div>
    
    <div class="periodical" style="display: inline">
      {% if entry.journal %}
        {% if entry.author %}
          In: {{entry.journal}},
        {% else %}
          {{entry.journal}},
        {% endif %}
      {% endif %}

      {% if entry.booktitle %}
        {% if entry.author %}
          In: {{entry.booktitle}},
        {% else %}
          {{entry.booktitle}},
        {% endif %}
      {% endif %}

      {% if entry.author and entry.editor %}
        {% for editor in entry.editor_array %}
          {% assign firstnames = editor.first | split: " " %}
          {% for firstname in firstnames %}
            {% assign nameparts = firstname | split: "-" %}
            {% for namepart in nameparts %}
              {% unless forloop.last%}
                {{namepart | slice:0}}.-
              {% else %}
                {{namepart | slice:0}}.
              {% endunless %}
            {% endfor %}
          {% endfor %}
          {% unless forloop.last %}
            {{editor.prefix}} {{editor.last}},
          {% else %}
            {{editor.prefix}} {{editor.last}} (Eds.),
          {% endunless %}
        {% endfor %}
      {% endif %}

      {% if entry.institution %}
        {{entry.institution}},
        {% if entry.number %}
          {{entry.number}},
        {% endif %}
      {% endif %}

      {% if entry.type == "techreport" or entry.type == "Technical Report" or entry.type == "Technischer Bericht" %}
        {%if (entry.language == "german" or entry.language == "German") %}
          Technischer Bericht,
        {% else %}
          Technical Report,
        {% endif %}
      {% endif %}

      {% if entry.type == "Informatik-Bericht" %}
        Informatik-Bericht,
      {% endif %}
      {% if entry.volume %}
        {%if (entry.language == "german" or entry.language == "German") %}
          Band {{entry.volume}}{% if entry.number %}({{entry.number}}){% endif %},
        {% else %}
          Volume {{entry.volume}}{% if entry.number %}({{entry.number}}){% endif %},
        {% endif %}
      {% endif %}
      {% if entry.chapter %}
        ch. {{entry.chapter}},
      {% endif %}
      {% if entry.pages %}
        pp. {{entry.pages}},
      {% endif %}
      {% if entry.series %}
        {{entry.series}},
      {% endif %}
      {% if entry.isbn %}
        ISBN {{entry.isbn}},
      {% endif %}
      {% if entry.publisher %}
        {{entry.publisher}},
      {% endif %}
      {% if entry.address %}
        {{entry.address}},
      {% endif %}
      {% if entry.month %}
        {{entry.month | capitalize }}{% unless entry.month == "may" %}.{% endunless %}
      {% endif %}
      {% if entry.year %}
        {{entry.year}}.
      {% endif %}
      {% if entry.note %}
        {{entry.note}}.
      {% endif %}
    </div>

  </div>
</div>
